body{
    background-color: rgba(138, 199, 193, 0.808);
    /*font-family: 'Libre Baskerville', serif;*/
    /*font-family: 'Noto Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

li, a{
    list-style: none;
    text-decoration: none;
    }

p{
  text-align: justify;
  justify-content: space-between;
}
    .menu-areo{
    display: flex;
    gap: 1.3em;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;

  }

.greeting {
  align-items: center;
  text-align: center;
  gap:initial;
}

header {
    display: flex;
    background-color: rgb(12, 146, 30);
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}


.navbar-logo{
  display: inline-flexbox;
  vertical-align:middle;
  width: 80px;
}

.navbar-logo img{
  display: block;
  width: 100%;
  height: auto;
}

section{
  display: flex;
  gap: 1.2em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}


.menu-container {
    display: flex;
    gap: 1.2em;
    align-items:end;
    justify-content: space-between;
}

a{
  color: antiquewhite;
}
form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width:auto;
    /* Esquema del formulario */
    padding: 1em;
    border: 2px solid #ccc;
    border-radius: 1em;
    display:flex;
    gap: 1.2em;
    justify-content: space-between;
  }
  
  .form-header{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em sans-serif;
  
    /* Tamaño uniforme del campo de texto */
    width: 300px;
    box-sizing: border-box;
  
    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
  }
  
  textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;
  
    /* Proporcionar espacio para escribir texto */
    height: 5em;
  }
  
  .button {
    /* Alinear los botones con los campos de texto */
    padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
  }
  
  button {
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
       entre las etiquetas y sus campos de texto */
    margin-left: 0.5em;
  }
  
  .sociales{
    display:flex;
  }